
.container {
  text-align: center;
  width: 100vw;
  height: 100vh;
}
html, body{
  margin: 0;
  padding: 0
}

.left_part {
  width:50vw;
  height:100vh;
  overflow:auto;
  float:left;
  background: black;
}
#left_part_img{
  width: auto;
  height: 100%;
  top:50%;
  left:100px;
}
#choose_file_but{  
  width: 300px;
  height: 100px;
  left: 40vw;
  top: -150px;
  background: url(..\assets\chooseimg.png)
}
#upload_but{  
  width: 300px;
  height: 100px;
  left: 65vw;
  top: -150px;
  background: url(..\assets\uploadbut.png)
}
#choose_file_but input[type=file]{  
  opacity: 0;
  min-width: 300px;
  height: 100px;
  left: 40vw;
  top: -150px;
  
}
#left_part_but3{  
  width: 400px;
  height: 150px;
  left:60vw;
  top:150px;
}
#full_page{
  width:100%;
  float:left;
}
.right_part {
  width:50%;
  overflow:auto;
  float:right;
  background:white;
}
.icon{
  width:50px;
  height: 50px;
  top: 20px;
  left: 25px;
  position: absolute;
}
.eyepair{
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  opacity: 0.8;
}